.elements__favorite-button {
    flex-shrink: 0;
    width: 22px;
    height: 19px;
    border: none;
    background: url(../../../images/heart.svg) no-repeat center;
    padding: 0;
    cursor: pointer;
    transition: opacity .3s;
}

.elements__favorite-button:disabled {
    cursor: not-allowed;
}

.elements__favorite-button:not(:disabled):hover {
    opacity: 0.5;
}