.popup__control {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 13px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color .3s;
    font-size: 14px;
    line-height: 1.21;
}

.popup__control::placeholder {
    color: rgba(0, 0, 0, 0.2);
}

.popup__control:hover {
    border-color: #000;
}

.popup__control:focus {
    border-color: #000;
}