.popup__input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.popup__input:not(.popup__input_type_error):hover {
  border-color: #000;
}

.popup__input:not(.popup__input_type_error):focus {
  border-color: #000;
}
